<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<script>
import { useRoute, useRouter } from 'vue-router'
import { reactive, ref, onErrorCaptured, onMounted, watch, inject } from 'vue';

export default {
  name: 'App',
  components: {
    
  },
  setup (props, context) {
    onMounted(() => {
      const route = useRoute();
      const routerMain = useRouter();
      
      console.log(route.path);
    });
  }
};
</script>
