/* eslint-disable no-debugger */
<template>
  <div>

    <div class="inner-container">

      <converter-bin-file
        name="Excel"
        fileExt=".xls/.xlsx/.ods"
        :endPoint="state.endPoint"
        :type="state.type"
        ref="converterComp" />

      <div class="options">
        Excel sheet details:
        <div class="input">
          <label>
            <span class="label-txt">First row number:</span>
            <div class="field">
              <input type="number" name="first-row-number" v-model="state.excelSettings.first_row_number">
            </div>
          </label>
        </div>
        
        <div class="input">
          <label>
            <span class="label-txt">Does first row contain columns' headers?</span>
            <div class="field">
              <input type="checkbox" name="first-row-headers" v-model="state.excelSettings.first_row_headers" checked>
            </div>
          </label>
        </div>
      </div>

      <button class="btn btn-master" type="submit" @click.prevent="download">DOWNLOAD</button>
    </div>

  </div>
</template>

<script>
import { reactive, computed } from 'vue';
import ConverterBinFile from '../components/ConverterBinFile.vue'

const state = reactive({
  type: 'excel',
  excelSettings: {
    "first_row_headers": true,
    "first_row_number": 1
  },
  endPoint: computed(() => '/excel/json/' + btoa(JSON.stringify(state.excelSettings)))
});

export default {
  name: 'excel-to-json',
  components: {
    ConverterBinFile
  },
  methods: {
    download () {
      this.$refs.converterComp.download();
    }
  },
  setup (props, context) {

    return {
      state
    }
  }
}
</script>

<style scoped>
  .input {
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  .input label {
    display: inline-block;
    width: 100%;
  }
  .field {
    display: inline-block;
    width: 50px;
  }
  .input input[type=number] {
    width: 100%;
  }
  .input label > * {
    vertical-align: middle;
  }
  .label-txt {
    width: 220px;
    text-align: left;
    display: inline-block;
  }
</style>
