/* eslint-disable no-debugger */
<template>
  <div>

    <div class="inner-container">
      
      <converter 
        name="JSON"
        fileExt=".json"
        :endPoint="state.endPoint"
        :type="state.type"
        ref="converterComp" />

      <div class="options">
        <h4>CSV options</h4>
        <label class="input-wrapper">
          <span>Delimiter:</span>
          <input class="input-short" type="text" name="delimiter" v-model="state.csvOptions.delimiter">
        </label>

        <label class="input-wrapper">
          <span>Enclosure:</span>
          <input class="input-short" type="text" name="enclosure" v-model="state.csvOptions.enclosure">
        </label>

        <label class="input-wrapper">
          <span>Line ending:</span>
          <select class="input-short" v-model="state.csvOptions.lineEnding">
            <option value="\r\n">\r\n</option>
            <option value="\r">\r</option>
            <option value="\n">\n</option>
          </select>
        </label>
      </div>

      <button class="btn btn-master" type="submit" @click.prevent="download">DOWNLOAD</button>
    </div>

  </div>
</template>

<script>
import { reactive, computed } from 'vue';
import Converter from '../components/Converter.vue'

const formatCsvOptions = (csvOptions) => {
  csvOptions = JSON.parse(JSON.stringify(csvOptions));

  switch(csvOptions.lineEnding) {
    case "\\r\\n":
      csvOptions.lineEnding = "\r\n";
      break;
    case "\\n":
      csvOptions.lineEnding = "\n";
      break;
    case "\\r":
      csvOptions.lineEnding = "\r";
      break;
  }
  
  return csvOptions;
}

const state = reactive({
  type: 'json',
  csvOptions: {
    delimiter: ";",
    enclosure: '"',
    lineEnding: '\\r\\n',
  },
  endPoint: computed(() => '/json/csv/' + btoa(JSON.stringify(formatCsvOptions(state.csvOptions))))
});

export default {
  name: 'json-to-excel',
  components: {
    Converter
  },
  methods: {
    download () {
      this.$refs.converterComp.download();
    }
  },
  setup (props, context) {

    return {
      state
    }
  }
}
</script>

<style>
  
</style>
