/* eslint-disable no-debugger */
<template>
  <div>

    <div class="inner-container">

      <converter-direct 
        name="JSON"
        fileExt=".json"
        :endPoint="state.endPoint"
        :type="state.type"
        ref="converterComp" />

    </div>

  </div>
</template>

<script>
import { reactive, computed } from 'vue';
import ConverterDirect from '../components/ConverterDirect.vue'

const state = reactive({
  type: 'json',
  endPoint: computed(() => '/json/flatify/')
});

export default {
  name: 'json-flatify',
  components: {
    ConverterDirect
  },
  setup (props, context) {

    return {
      state
    }
  }
}
</script>

<style>
  
</style>
