/* eslint-disable no-debugger */
<template>
  <div>

    <div class="inner-container">

      <converter 
        name="JSON"
        fileExt=".json"
        :endPoint="state.endPoint"
        :type="state.type"
        ref="converterComp" />

      <div class="options">
        Extension:
        <label>
          <input type="radio" name="extenstion2" v-model="state.extension" value="xls" checked> XLS
        </label>
        <label>
          <input type="radio" name="extenstion2" v-model="state.extension" value="xlsx"> XLSX
        </label>
        <label>
          <input type="radio" name="extenstion2" v-model="state.extension" value="ods"> ODS (Open Office)
        </label>
      </div>

      <button class="btn btn-master" type="submit" @click.prevent="download">DOWNLOAD</button>
    </div>

  </div>
</template>

<script>
import { reactive, computed } from 'vue';
import Converter from '../components/Converter.vue'

const state = reactive({
  extension: '',
  type: 'json',
  endPoint: computed(() => '/json/excel/' + state.extension)
});

export default {
  name: 'json-to-excel',
  components: {
    Converter
  },
  methods: {
    download () {
      this.$refs.converterComp.download();
    }
  },
  setup (props, context) {

    return {
      state
    }
  }
}
</script>

<style>
  
</style>
