/* eslint-disable no-debugger */
<template>
  <div>

    <div>
      <h3>Upload {{name}} file</h3>

      <div class="inner-part">
        <p>Select file from your computer with {{name}} extension ({{fileExt}}).</p>
        <form target="_blank" id="upload-form" method="POST" ref="uploadForm" :action="state.url" enctype="multipart/form-data">
          <p><input type="file" @input="checkExt" name="fileToUpload" id="fileToUpload" class="form-control"></p>
          <input type="hidden" value="" id="uploadSizeHex" name="uploadSizeHex">
          <input type="hidden" value="" id="uploadSizeAscii" name="uploadSizeAscii">
          <input type="hidden" value="" id="appKey" name="appKey">
          <input type="hidden" name="recaptchaResponse" id="recaptchaResponse">
        </form>
      </div>
    </div>
    
  </div>
</template>

<script>
import { reactive, ref, onErrorCaptured, onMounted, watch, inject } from 'vue';
import { checkExtension, recaptchaGetToken } from '../services/_commonMethods.js';
import { sizeUpload, sizeHex } from '../services/_commonMethods.js';
import { useRoute, useRouter } from 'vue-router'

import { filter } from 'rxjs/operators';

const uploadForm = ref(0);
const state = reactive({
  strManual: '',
  strFile: '',
  url: '',
  type: '',
  appKey: ''
});

/** UWAGA!!!!
 * DOROBIĆ JESZCZE OSOBNO OBSŁUGĘ PLIKÓW TSV!!!!!
 * I DOROBIĆ JESZCZE PLIKI EXCEL-XML!!!
 */

function checkExt () {
  const fileList = uploadForm.value.querySelector("#fileToUpload").files;
  const file = fileList.length ? fileList[0] : null
  
  if( state.type === 'excel' && file && !checkExtension(file.name, 'excel') ) {
    uploadForm.value.reset();
    alert("File has wrong extension!");
    return;
  } else if( state.type === 'csv' && file && !checkExtension(file.name, 'csv') ) {
    uploadForm.value.reset();
    alert("File has wrong extension!");
    return;
  }
}

async function refreshRecaptcha () {
  uploadForm.value.querySelector("#recaptchaResponse").value = await recaptchaGetToken();
}

function download () {

  const fileList = uploadForm.value.querySelector("#fileToUpload").files;
  const file = fileList.length ? fileList[0] : null

  if(!file) {
    alert("No selected file!");
    return;
  }
  
  if( !checkExtension(file.name, state.type) ) {
    uploadForm.value.reset();
    alert("File has wrong extension!");
    return;
  }

  uploadForm.value.querySelector("#uploadSizeAscii").value = sizeUpload();
  uploadForm.value.querySelector("#uploadSizeHex").value = sizeHex();
  uploadForm.value.querySelector("#appKey").value = state.appKey;
  uploadForm.value.submit();
  refreshRecaptcha();
}

export default {
  name: 'ConverterBinFile',
  components: {
    
  },
  props: ['endPoint', 'type', 'name', 'fileExt'],
  setup (props, context) {

    const apiUrl = inject('apiUrl');

    onMounted(() => {
      const route = useRoute();
      const routerMain = useRouter();
      
      console.log(route.path);
      window.grecaptcha.ready(() => {
        refreshRecaptcha();
      });
    });

    state.url = apiUrl + props.endPoint;
    watch(() => props.endPoint, (val, prevVal) => {
      state.url = apiUrl + props.endPoint;
    });
    
    state.appKey = inject('appKey');
    state.type = props.type + "";

    return {
      state,
      checkExt,
      download,
      uploadForm,
    }
  }
}
</script>

<style scoped>
  
  .app {
    width: 100%;
  }
  .textarea-wrapper {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    margin: 10px 0;
  }
  .json-text-input {
    width: 100%;
    height: 200px;
    font-size: 16px;
    border: none;
    font-family: 'Inconsolata', monospace !important;
  }
  .json-text-input:focus {
    outline: #f3f3f3 solid 1px;
  }

  
  
  .inner-part {
    text-align: left;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 25px;
  }
</style>
