/* eslint-disable no-debugger */
<template>
  <div>
      
    <div>
      <h3>Copy and paste {{name}}:</h3>
      <div class="textarea-wrapper">
      
        <textarea class="json-text-input" :placeholder="'Enter ' + name + ' here...'" v-model="state.strManual"></textarea>
        
        <div class="text-right">
          <button class="btn btn-info btn-sm" @click.prevent="clearInput">Clear input</button>
        </div>

      </div>
    </div>

    <div>
      <h3>Upload {{name}} file</h3>

      <div class="inner-part">
        <p>Select file from your computer with {{name}} extension ({{fileExt}}).</p>
        <form id="upload-form" ref="uploadForm">
          <p><input @input="upload" type="file" name="fileToUpload" id="fileToUpload" class="form-control"></p>
        </form>
      </div>
    </div>

    <form target="_blank" method="POST" ref="sendForm" :action="state.url">
      <input type="hidden" value="" id="downloadData" name="data">
      <input type="hidden" value="" id="uploadSizeHex" name="uploadSizeHex">
      <input type="hidden" value="" id="uploadSizeAscii" name="uploadSizeAscii">
      <input type="hidden" value="" id="appKey" name="appKey">
      <input type="hidden" name="recaptchaResponse" id="recaptchaResponse">
    </form>
    
  </div>
</template>

<script>
import { reactive, ref, onErrorCaptured, onMounted, watch, inject } from 'vue';
import { checkInput, recaptchaGetToken } from '../services/_commonMethods.js';

import { useRoute, useRouter } from 'vue-router'

import { filter } from 'rxjs/operators';

import { sizeUpload, sizeHex } from '../services/_commonMethods.js';

const uploadForm = ref(0);
const sendForm = ref(0);
const state = reactive({
  strManual: '',
  strFile: '',
  url: '',
  type: '',
  appKey: ''
});

function clearInput () {
  state.strManual = "";
}

function upload () {

  const fileList = uploadForm.value.querySelector("#fileToUpload").files;
  const file = fileList.length ? fileList[0] : null

  if(!file) {
    alert("No selected file!");
    return;
  }

  const reader = new FileReader();

  reader.readAsText(file, "UTF-8");
  reader.addEventListener("load", (e) => {
    state.strManual = "";
    
    if( checkInput(e.target.result, state.type) ) {
      state.strFile = e.target.result;
    } else {
      alert(`Wrong ${state.type} file!`);
      state.strFile = "";
    }
    
  });

}

async function refreshRecaptcha () {
  sendForm.value.querySelector("#recaptchaResponse").value = await recaptchaGetToken();
}

function download () {
  let dataToSend = "";

  if(state.strManual.length) {
    dataToSend = state.strManual;
  } else if (state.strFile.length) {
    dataToSend = state.strFile;
  } else {
    alert("No json manual or from file!");
    return;
  }

  if( !checkInput(dataToSend, state.type) ) {
    alert("Your code is not a JSON or data is inconsistent (mixed primitive and object values)!");
    return;
  }

  const finalData = dataToSend;

  sendForm.value.querySelector("#downloadData").value = finalData;
  sendForm.value.querySelector("#uploadSizeAscii").value = sizeUpload();
  sendForm.value.querySelector("#uploadSizeHex").value = sizeHex();
  sendForm.value.querySelector("#appKey").value = state.appKey;
  sendForm.value.submit();
  refreshRecaptcha();
}

export default {
  name: 'Converter',
  components: {
    
  },
  props: ['endPoint', 'type', 'name', 'fileExt'],
  setup (props, context) {

    const apiUrl = inject('apiUrl');

    onMounted(() => {
      const route = useRoute();
      const routerMain = useRouter();

      window.grecaptcha.ready(() => {
        refreshRecaptcha();
      });
    });

    watch(() => state.strManual, (val, prevVal) => {
      if(val) {
        state.strFile = "";
        uploadForm.value.reset();
      }
    });

    state.url = apiUrl + props.endPoint;
    watch(() => props.endPoint, (val, prevVal) => {
      state.url = apiUrl + props.endPoint;
    });
    
    state.appKey = inject('appKey');
    state.type = props.type + "";

    return {
      clearInput,
      state,
      sendForm,
      download,
      uploadForm,
      upload
    }
  }
}
</script>

<style scoped>
  
  .app {
    width: 100%;
  }
  .textarea-wrapper {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    margin: 10px 0;
  }
  .json-text-input {
    width: 100%;
    height: 200px;
    font-size: 16px;
    border: none;
    font-family: 'Inconsolata', monospace !important;
  }
  .json-text-input:focus {
    outline: #f3f3f3 solid 1px;
  }

  
  
  .inner-part {
    text-align: left;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 25px;
  }
</style>
