/* eslint-disable no-debugger */
<template>
  <div>
    
    <router-view/>

  </div>
</template>

<script>
import { reactive, ref, onErrorCaptured, onMounted, watch, inject } from 'vue';


export default {
  name: 'App',
  components: {
    
  },
  provide: {
    apiUrl: process.env.NODE_ENV === 'production' ? "https://apps.dev-bay.com/converters/api" : "http://localhost:8080/dev-apps/converter",
    appKey: 3218328439
  }
}
</script>

<style>
  * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
  }
  body {
    background-color: #fbfbfb;
  }

  .inner-container {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 800px;
    text-align: center;
  }

  .options {
    margin-bottom: 10px;
  }

  .input-wrapper {
    display: inline-block;
    margin: 5px 10px;
  }
  .input-wrapper span {
    display: inline-block;
    margin: 5px;
  }
  .input-wrapper input,
  .input-wrapper select {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 5px;
  }
  .input-short {
    width: 50px;
    text-align: center;
    color: #000;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
  }
  select.input-short {
    width: 60px;
  }

  .btn {
    background: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-info {
    background-color: #ebebeb;
    top: -5px;
    position: relative;
    color: #484848;
  }
  .btn-master {
    background: #3A9F8A;
    color: #fff;
  }
  .btn-sm {
    font-size: 13px;
    padding: 5px 10px;
    margin: 0 2px;
  }

  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  
</style>
